body{
    background:url(../img/starbucks.bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    display: flex;
    width: 95vw;
    margin-top: 30px; 
}

.logo{
    width: 100%;
}
.logo img{
    width: 75%;
}
.logo{
    width: 100px;
    max-width: 50%;
    max-height: 50%;
    margin-left: 30px;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    letter-spacing: 1px;
    padding-left: 5vw;
    width: 50%; 
}

.navbar a{
    color: aliceblue;
    text-decoration: none; 
}

.connexion{
    list-style-type: none;
    letter-spacing: 1px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 30px;
    width: 55%;
}
.connexion a{
    color: aliceblue;
    text-decoration: none;
}

#seco{
    margin-right: 50px;
}

header{
    display: flex;
    
}

#star {
    text-decoration: none;
    color: aliceblue;
}

.frapu{
    width: 150%;
    margin-top: 100px;
}

.texte{
    margin-top: 50px;
    margin-left: 30px;
}

.texte h1{
    color: aliceblue;
    font-size: 100px;
    margin-left: 30px;
    margin-bottom: 15px;
}

.texte h2{
    color: aliceblue;
    font-size: 50px;
    margin-left: 150px;
    margin-top: 50px;
}

footer{
    display: flex;
    flex-wrap: wrap;
    width: 98vw;
    background-color: rgb(26, 73, 26);
    margin-top: 200px;
    align-items: center;
    justify-content: center;
    height: 20vw
}

footer a{
    color: rgb(60, 209, 90);
    justify-content: space-around;
}

.info{
    width: 50%;
    display: flex;
    flex-direction: column;
    line-height: 32.6667px;
}

.droit{
    display: flex;
    flex-direction: column;
    line-height: 32.6667px;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.accordeon {
    border: 1px solid rgba(146, 146, 146, 0.3);
    width: 80%;
    max-width: 600px;
    margin: 10px auto;
    color: white;
}

.titre {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 8px 16px rgba(146, 146, 146, 0.3);
}

.contenu {
    padding: 0 20px;
    height: 0;
    visibility: hidden
}

#fleche {
    width: 50px;
    height: 50px;
}

.titre img {
    width: 20px;
    height: 20pc;
    transition: 0.4s;
}

.accordeon.open .titre img {
    transform-origin: center;
    transform: rotate(90deg);
}

.contenu {
    padding: 0 20px;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: 0.4s;
}

.accordeon.open .contenu {
    padding: 30px 20px;
    height: auto;
    visibility: visible;
}


p.darkmode {
    padding: 10px;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    background-color: rgb(228, 255, 216);
    margin-left: 30px;
    color: rgb(16, 43, 16);
}

p.darkmode:hover {
    color:rgb(228, 255, 216);
    background-color: rgb(16, 43, 16);
  }


body.darkmode {
    background-color: rgb(16, 43, 16);
    background-image: none;
    transition: 0.3s ease;
}

.darkmode {
    color: rgb(113, 145, 83);
}

.texte.darkmode {
    background-color: rgb(25, 48, 10);
    opacity: calc(750%);
}

.texte.darkmode h1{
    color: rgb(227, 255, 204);
}

.navbar.darkmode {
    background-color: rgb(54, 88, 38);
  }

.navbar.darkmode a{
    color: rgb(198, 255, 180);
  }
.navbar.darkmode #star{
    color: rgb(198, 255, 180);
  }






/*responsive : */
/*@media all and (max-device-width: 320px){
    h1{
        font-size: 35px;
        margin-left: -2vw;
    
    }
    .frapu{
        width: 192px;
        margin-top: -61vw;
        margin-left: 23vw;
        display: flex;

    }
    header{
        display: flex;
        flex-direction: column-reverse;
        width: 200px;
    }
    h2 {
        color: aliceblue;
        font-size: 25px;
        margin-left: 56px;
        margin-top: 112px;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        width: 0%;
        letter-spacing: 1px;
        line-height: 35px;
    }
    .connexion{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 37%;
        line-height: 25px;
        margin-left: 93px;
        margin-right: 4px;
    }
    nav{
        display: flex;
        width: 98vw;
        margin-top: 20px; 
        justify-content: space-between;
        align-items: baseline;
    }
    .logo{
        margin-top: 4px;
        margin-right: 13px;
        width: 60px;
        margin-left: 17px;
        min-width: 20%;
    }
    footer {
        display: flex;
        flex-wrap: wrap;
        width: 97vw;
        background-color: rgb(26, 73, 26);
        margin-top: 142px;
        height: max-content;
    }

    .info {
        width: 100%;
        display: flex;
        flex-direction: column;
        line-height: 32.6667px;
    }
    .droit {
        
        display: flex;
        flex-direction: column;
        line-height: 32.6667px;
    }


}*/
